appdirs==1.4.3
beautifulsoup4==4.6.0
cycler==0.10.0
Django==1.11.1
html5lib==0.999999999
Jinja2==2.9.6
lxml==3.7.3
MarkupSafe==1.0
matplotlib==2.0.2
mpld3==0.3
nltk==3.2.4
numpy==1.12.1
packaging==16.8
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.14.2
six==1.10.0
urllib3==1.21.1
webencodings==0.5.1
stop_words==2015.2.23.1
gensim==2.1.0
