<html>
  <head>
    <title>Keyphrase Analyzer</title>
  </head>
  <body>
    <h1>Keyphrase Analyzer</h1>
    <p>This tool will take one or more Webpages and analyze the content of them for one or more keyphrases</p>
    <p>Try it out by submitting the form below</p>
    <form action="/nfl_research/" method="POST">
    {% csrf_token %}
    <fieldset>
      <label for="urls">URLs (separate multiple by newline - specify the fully-qualified URL like http://www.site.com/page.html)</label><br />
      <textarea name="urls" id="urls" rows="10" cols="150"></textarea><br />
    </fieldset>
    <fieldset>
      <p>Note: leave keyphrase blank to do analysis on full text for unknown keyphrases used</p>
      <label for="keyphrases">Keyphrases (separate multiple by newline - current support only for 1 at a time)</label><br />
      <textarea name="keyphrases" id="keyphrases" rows="10" cols="150"></textarea><br />
    </fieldset>
    <fieldset>
      <label for="wordlength">Long Word Length (default: 7)</label>
      <input type="text" name="wordlength" id="wordlength" />
      <label for="wordgap">Collocated Word Gap (default: 2)</label>
      <input type="text" name="wordgap" id="wordgap" />
      <label for="contextlength">Surrounding Context Length (default: 200)</label>
      <input type="text" name="contextlength" id="contextlength" />
    </fieldset>
    <fieldset>
      <button type="submit" class="submit btn btn-default">Submit</button>
    </fieldset>
    </form>
  </body>
</html>